.heroContainer {
	position: relative;
	background-color: var(--primary-color-500);
	overflow: hidden;
	height: calc(100vh - var(--navbar));
}
.hero {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.arrowIcon {
	position: absolute;
	top: 50%;
	right: -20px;
	transform: translateY(-50%);
	color: var(--light-color-500);
	font-size: clamp(5rem, 25vw, 12rem);
	cursor: pointer;
	z-index: 2;
}
/*SLIDES*/
.slide {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--light-color-500);
	transition: all 1.5s ease-in-out;
	padding: 0 6rem;
	gap: 2rem;
}
.slideTextContainer {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	text-transform: uppercase;
}
.imageContainer {
	position: relative;
	display: flex;
}

/*SLIDE 01*/
.slide01 {
	font-family: var(--secondary-font);
}
.slide01 .slideTextContainer {
	text-align: center;
	justify-content: center;
}
.slide01 .text01 {
	font-size: clamp(0.5rem, 5vw, 2rem);
	line-height: 1;
}
.slide01 .text02 {
	font-size: clamp(1rem, 10vw, 7rem);
	line-height: 1;
}
.slide01 .text03 {
	position: relative;
	width: fit-content;
	font-size: clamp(0.5rem, 5vw, 2rem);
	margin: 0 auto;
	margin-bottom: 2px;
}
.slide01 .text03::after {
	content: "";
	position: absolute;
	bottom: -2px;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	height: 3px;
	background-color: var(--light-color-500);
}
.slide01 .text04 {
	position: relative;
	width: fit-content;
	margin: 0 auto;
	font-size: 1.35rem;
}
.slide01 .text04::after {
	content: "";
	position: absolute;
	bottom: -2px;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	height: 3px;
	background-color: var(--light-color-500);
}
.underline {
	height: 4px;
	width: 60px;
	background-color: var(--light-color-500);
	margin: 1rem auto 2rem auto;
}
/*image*/
.pizzaContainer {
	position: relative;
	width: 40vw;
	min-width: 175px;
	height: 25vw;
}
.spiceImg {
	left: 10px;
	position: absolute;
	bottom: -30px;
	width: 20vw;
	height: 100px;
}

/*SLIDE 02*/
.slide02 {
	right: -100%;
	gap: 3rem;
}
.slide02 .slideTextContainer {
	align-items: flex-start;
	font-family: var(--quaternary-font);
	line-height: 1;
}
.slide02 .text01 {
	font-size: clamp(1.5rem, 5vw, 4rem);
}
.slide02 .text02 {
	color: var(--secondary-color-500);
	font-size: 6rem;
	font-size: clamp(2.5rem, 10vw, 6rem);
}

/*SLIDE 03*/
.slide03 {
	right: -200%;
}
.slide03 .text01 {
	font-size: 4rem;
	font-size: clamp(2.5rem, 10vw, 4em);
	line-height: 1;
}
.slide03 .smallPizzaImg {
	position: absolute;
	bottom: -40%;
	width: 25vw;
	height: 100%;
}
@media screen and (max-width: 480px) {
	.heroContainer {
		height: 50vh;
	}
	.slide {
		gap: 0.5rem;
	}
	.underline {
		margin-bottom: 0.5rem;
		margin-top: 0.5rem;
	}
	.pizzaContainer {
		width: 40vw;
		height: 150px;
	}
	.spiceImg {
		width: 20vw;
		height: 100px;
	}
	.slide03 .smallPizzaImg {
		bottom: -35px;
		width: 25vw;
		height: 100%;
	}
}
