.addPizzaModalContainer {
	position: absolute;
	top: 0;
	left: 0;
	transform: scale(0);
	width: 100vw;
	min-height: 100vh;
	padding: 5rem 0;
	display: grid;
	place-items: center;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.7);
}
.openContainer {
	animation: open 1s ease-in-out forwards;
}
@keyframes open {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

.closeBtn {
	position: absolute;
	top: -10px;
	right: -10px;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	background-color: var(--dark-color-500);
	box-shadow: 1px 1px 10px var(--dark-color-500);
}
.closeBtnIcon {
	font-size: 1rem;
	color: var(--light-color-500);
}

/* FORM */
.addModal {
	position: relative;
	width: 80%;
	max-width: 600px;
	padding: 5rem 3rem;
	background-color: var(--light-color-500);
	border-radius: 10px;
	box-shadow: 1px 1px 10px var(--dark-color-500);
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	letter-spacing: 0.5px;
}
.title {
	font-size: 2rem;
	text-transform: capitalize;
}
.addModal label {
	text-transform: capitalize;
	font-weight: 700;
	margin-top: 0.5rem;
	font-size: 1.15rem;
}
.addModal input {
	border: transparent;
	border-bottom: 1px solid var(--dark-color-500);
	padding: 0.25rem;
	background-color: transparent;
	font-size: 1rem;
}
.addModal textarea {
	padding: 0.25rem;
	font-size: 1rem;
}
.prices {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}
.prices input {
	width: 30%;
	min-width: 150px;
}

.extras {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}
.extrasInputAndBtnContainer {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.extrasInputs {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}
.extrasInputs input {
	width: 30%;
	min-width: 150px;
}
.extraToppingsContainer {
	display: flex;
	gap: 1rem;
	margin-bottom: 2rem;
}
.extraTopping {
	position: relative;
	padding: 0.3rem 0.5rem;
	border: 1px solid var(--primary-color-500);
	border-radius: 1rem;
}
.deleteTopping {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 1rem;
	background-color: var(--dark-color-500);
	color: var(--light-color-500);
	cursor: pointer;
	transform: scale(0);
}
.showDeleteIcon {
	animation: open 0.3s ease-in-out forwards;
}
.addExtraBtn {
	border: 1px solid var(--terceary-color-500);
	background-color: var(--terceary-color-500);
	min-width: 20%;
	height: 50px;
	border-radius: 5px;
	color: var(--light-color-500);
	text-transform: uppercase;
	font-size: 1rem;
	letter-spacing: 1px;
	transition: all 0.3s;
}
.addExtraBtn:hover {
	opacity: 0.8;
}

.editPizzaBtn {
	color: var(--light-color-500);
	border: 1px solid var(--primary-color-500);
	background-color: var(--primary-color-500);
	border-radius: 5px;
	padding: 1rem;
	text-transform: capitalize;
	font-size: 1.1rem;
	letter-spacing: 1px;
	transition: all 0.3s;
}
.editPizzaBtn:hover {
	opacity: 0.8;
}
