@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Comforter+Brush&family=Poppins:wght@500&family=Ubuntu:wght@300;400;700&display=swap");

/*general tags*/
html,
body {
	padding: 0;
	margin: 0;
	font-family: var(--primary-font);
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
	height: auto;
}

button {
	cursor: pointer;
}

/*GENERAL CLASSES*/
.container {
	width: 100%;
}
.container-center {
	position: relative;
	max-width: 1400px;
	width: 80%;
	margin: 0 auto;
}
@media screen and (max-width: 480px) {
	.container-center {
		width: 90%;
	}
}
@media screen and (max-width: 1000px) {
	.container-center {
		width: 85%;
	}
}
