.singlePizzaContainer {
	/* min-height: calc(100vh - var(--navbar)); */
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
	padding: 5rem auto;
}
.imgContainer {
	position: relative;
	/* flex: 1; */
	width: 40vw;
	height: 350px;
}

/* PIZZA INFO */
.productInfoContainer {
	flex: 1.5;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.title {
	font-size: 2rem;
	text-transform: uppercase;
	margin-bottom: 1rem;
}
.price {
	font-size: 1.5rem;
	color: var(--primary-color-500);
	margin-bottom: 1rem;
}
/*SIZES*/
.sizesContainer {
	display: flex;
	gap: 4rem;
}
.sizeIconContainer {
	position: relative;
	cursor: pointer;
}
.sizesTitle {
	margin-bottom: 1.5rem;
}
.sizeText {
	position: absolute;
	padding: 0.2rem 0.5rem;
	background-color: var(--primary-color-500);
	border-radius: 10px;
	line-height: 1;
	text-align: center;
	color: var(--light-color-500);
	font-size: 0.65rem;
	top: -5px;
	right: -25px;
	transition: background-color 0.3s;
}

.isSelected {
	background-color: var(--terceary-color-500);
}

/*TOPINGS*/
.topingsTitle {
	margin-bottom: 1.5rem;
}
.checkBoxesContainer {
	display: flex;
	gap: 1.5rem;
}
.checkBox {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	line-height: 1;
}
.checkBox input {
	width: 1.5rem;
	height: 1.5rem;
}
.addCartContainer {
	height: 2rem;
}

.numberCart {
	width: 3rem;
	height: 100%;
	border-radius: 3px;
	margin-right: 1rem;
	border: 1px solid var(--dark-color-500);
	padding-left: 0.2rem;
}
.btnCart {
	width: 6rem;
	height: 100%;
	background-color: var(--primary-color-500);
	border: 1px solid var(--primary-color-500);
	border-radius: 3px;
	color: var(--light-color-500);
	transition: background-color 0.3s;
}
.btnCart:hover {
	background-color: inherit;
	color: var(--dark-color-500);
}
@media screen and (max-width: 780px) {
	.singlePizzaContainer {
		flex-direction: column;
		height: auto;
		padding: 2rem 0;
	}
	.imgContainer {
		width: 60vw;
	}
	.productInfoContainer {
		width: 90%;
	}
	/* .topingsContainer {
		width: 90%;
	}*/
	.checkBoxesContainer {
		width: 90%;
		flex-wrap: wrap;
		gap: 1.5rem 0;
	}
	.checkBox {
		width: 50%;
	}
}
