.cartTotal {
	flex: 1;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	background-color: var(--dark-color-500);
	padding: 2rem;
	gap: 1.5rem;

	color: var(--light-color-500);
	text-transform: capitalize;
}
.cartInfoContainer {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.cartBtnContainer {
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
}
.title {
	margin-bottom: 1rem;
}
.textContainer {
	display: flex;
	gap: 1rem;
}
.text {
	font-weight: 700;
}
.price {
}
